parameters:
    level: 5
    paths:
        - src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method Statamic\\Contracts\\Assets\\Asset::resolvedPath+#'
        - '#Call to an undefined method Statamic\\Contracts\\Entries\\QueryBuilder::+#'
        - '#Call to an undefined method Statamic\\Contracts\\Entries\\Entry::+#'
        - '#Data::find+#'
        - '#Access to an undefined property Statamic\\Facades\\Data+#'

